Source: libgtkflow
Priority: optional
Maintainer: Daniel Brendle <grindhold@skarphed.org>
Build-Depends: debhelper (>= 11),
               dh-autoreconf,
               autotools-dev,
               intltool (>=0.35),
               pkg-config,
               valac,
               libgtk-3-dev,
               adwaita-icon-theme,
               gettext,
               xvfb,
               xauth,
               gobject-introspection (>= 1.41.3),
               libgirepository1.0-dev (>= 1.39.0),
               valadoc,
               gtk-doc-tools
Standards-Version: 3.9.6
Section: libs
Homepage: https://github.com/grindhold/libgtkflow

Package: libgtkflow-0.8-doc
Section: doc
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}
Suggests: devhelp
Description: Documentation for libgtkflow-0.8
 This package contains a devhelp-book that holds API
 documentation for libgtkflow. The devhelp-book can
 be read via the software devhelp.

Package: libgtkflow-0.8-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: libgtkflow-0.8-1 (= ${binary:Version}), ${misc:Depends},
         libglib2.0-dev,
         libgtk-3-dev,
         libc6-dev,
         libgflow-0.8-dev,
         libcairo2-dev,
         gir1.2-gtkflow-0.8
Description: Flow graph library for Gtk+-3.0 headerfiles
 This package contains development headerfiles for the 
 flow-graph-library libgtkflow. It contains c-headers 
 and vapi-files.

Package: gir1.2-gtkflow-0.8
Section: introspection
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends}, ${shlibs:Depends}, ${gir:Depends}
Description: Typelib (gobject-introspection)-files for libgtkflow
 This package contains gobject-introspection files for libgtkflow
 With these files, programmers can use libgflow through the
 gobject-introspection of various scripting-languages like e.g.
 Python, Perl, Lua, PHP, JS and more

Package: libgflow-0.8-doc
Section: doc
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}
Suggests: devhelp
Description: Documentation for libgflow-0.8
 This package contains a devhelp-book that holds API
 documentation for libgflow. The devhelp-book can
 be read via the software devhelp.

Package: libgtkflow-0.8-1
Architecture: any
Multi-Arch: same
Depends: libgflow-0.8-1, ${shlibs:Depends}, ${misc:Depends}
Pre-Depends: ${misc:Pre-Depends}
Description: Flow graph library for Gtk+-3.0
 This library provides an additional Gtk3-Widget that
 allows the drawing and manipulation of the data-flow-
 models provided by libgflow.

Package: libgflow-0.8-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: libgflow-0.8-1 (= ${binary:Version}), ${misc:Depends},
         libglib2.0-dev,
         libc6-dev,
         gir1.2-gflow-0.2
Description: Data flow modeling library headerfiles
 This library provides development headers for libgflow
 It contains typelib-files for gobject-introspection,
 c-headers and vapi-files.

Package: gir1.2-gflow-0.8
Section: introspection
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends}, ${shlibs:Depends}, ${gir:Depends}
Description: Typelib (gobject-introspection)-files for libgflow
 This package contains gobject-introspection files for libgflow
 With these files, programmers can use libgflow through the
 gobject-introspection of various scripting-languages like e.g.
 Python, Perl, Lua, PHP, JS and more

Package: libgflow-0.8-1
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}
Pre-Depends: ${misc:Pre-Depends}
Description: Data flow modeling library based on glib
 This library allows application developer to design
 data flow models. These models know units that create,
 transform or consume data. These nodes can be
 programmmatically interconnected thus forming flow-models.
